@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="feed-page">
    <div class="add-post-column">
        <form enctype="multipart/form-data" method="post" asp-action="CreateNewPost" asp-controller="Post">
            <label>
                Title: <input type="text" name="Title" placeholder="Post Title" />
            </label>
            <label>
                Post Type:
                <select name="PostType">
                    <option>Question</option>
                    <option>Idea</option>
                    <option>Study Tips</option>
                    <option>Resource Material</option>
                </select>
            </label>
            <label>
                Additional Notes:
                <textarea name="AdditionalNotes">

                </textarea>
            </label>
            <label>
                Visibility:
                <select name="Visibility">
                    <option></option>
                </select>
            </label>
            <label>
                Resource Material <input type="file" name="PostFile"/>
            </label>

            <button type="submit" >Post</button>
        </form>
    </div>
</div>