@page
@model Campus_Connect.Views.LoginRegister.SignUpModel
@{
    Layout = null;
}
@if(TempData["PasswordError"] != null){
    <div class="alert-warning">
        @TempData["PasswordError"];
    </div>
}
<form method="post" asp-area="" asp-action="Register" asp-controller="LoginRegister">
    <fieldset>
        <legend>Register</legend>
        <label for="Name">
            Name: <input class="form-input" id="Name" type="text" name="Name" />
        </label>
        <br />
        <label>
            Surname: <input class="form-input" id="Surname" type="text" name="Surname" />
        </label>
        <br />
        <label>
            Email: <input class="form-input" id="Email" type="email" name="Email" />
        </label>
        <br />
        <label>
            Phone Number: <input class="form-input" id="PhoneNumber" type="tel" maxlength="10" name="PhoneNumber" />
        </label>
        <br />
        <label>
            Faculty: 
            <select name="Faculty" class="form-input">
                <option selected value="C001">IIE Faculty of Commerce</option>
                <option value="C002">IIE Faculty of Humanities</option>
                <option value="C003">IIE Faculty of Law</option>
                <option value="C004">IIE Faculty of Education</option>
                <option value="C005">IIE Faculty of Science and Technology</option>
            </select>
        </label>
        <br />
        <label>
            Password: <input class="form-input" id="Password" type="password" name="Password" />
        </label>
        <br />
        <label>
            Confirmed Password: <input class="form-input" id="Password" type="password" name="ConfirmedPassword" />
        </label>
    </fieldset>
    <button type="submit">Register</button>
</form>
