@page
@model Campus_Connect.Views.LoginRegister.SignUpModel
@{
    Layout = null;
}

<form method="post" asp-area="" asp-action="Register" asp-controller="LoginRegister">
    <fieldset>
        <legend>Register</legend>
        <label for="Name">
            Name: <input class="form-input" id="Name" type="text" name="Name" />
        </label>
        <br />
        <label>
            Surname: <input class="form-input" id="Surname" type="text" name="Surname" />
        </label>
        <br />
        <label>
            Email: <input class="form-input" id="Email" type="email" name="Email" />
        </label>
        <br />
        <label>
            Phone Number: <input class="form-input" id="PhoneNumber" type="tel" maxlength="10" name="PhoneNumber" />
        </label>
        <br />
        <label>
            Password: <input class="form-input" id="Password" type="password" name="Password" />
        </label>
        <br />
        <label>
            Confirmed Password: <input class="form-input" id="Password" type="password" name="ConfirmedPassword" />
        </label>
    </fieldset>
    <button type="submit">Register</button>
</form>
